<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
        <title>新規作成</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
        <link rel="apple-touch-icon" type="image/png" href="{{ url_for('static', filename='icon/apple-touch-icon-180x180.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div id="app">

            <div class="table-box">
                <div class="title-wrapper">
                    <h1 class="title">トレーニングを新規作成</h1>
                </div>
                <table class="edit-table">
                    <tr>
                        <td><p>トレーニング名</p></td>
                        <td><input type="text" v-model="training.training_name"></td>
                    </tr>
                    <tr>
                        <td><p>作者</p></td>
                        <td><input type="text" v-model="training.author"></td>
                    </tr>
                </table>
                <div class="menus-wrapper">
                    <p>メニュー</p>
                    <div v-for="(menu, i) of training.menu" :key="i" class="menu-box">
                        <div class="delete-menu-button-box">
                            <span class="menu-i-text">筋トレ{{ '{{ i + 1 }}' }}</span>
                            <div class="x-mark" @click="deleteMenu(i)"><span></span></div>
                        </div>
                        <table>
                            <tr>
                                <td class="work-out-name">筋トレ名</td>
                                <td><input type="text" v-model="menu.work_out_name" class="work_out_name"></td>
                            </tr>
                            <tr>
                                <td>間隔[s]</td>
                                <td><input type="text" v-model="menu.length"></td>
                            </tr>
                            <tr>
                                <td>回数</td>
                                <td><input type="text" v-model="menu.times"></td>
                            </tr>
                            <tr>
                                <td>セット数</td>
                                <td><input type="text" v-model="menu.sets"></td>
                            </tr>
                            <tr>
                                <td>休憩時間</td>
                                <td><input type="text" v-model="menu.after_interval"></td>
                            </tr>
                        </table> 
                    </div>
                    <div class="button-box">
                        <img src="/static/icon/add-button.png" class="add-menu-button" @click="addMenu">
                    </div>
                </div>
            </div>

            <div class="button-box">
                <button @click="addTraining" class="button">新規作成</button><br>
                <a href='/'><button class="back-button">戻る</button></a>
            </div>

        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script>

trainingValidationCheck = function(trainingObj) {
    message = ''
    if (!trainingObj.training_name || !trainingObj.author) {
        message += 'トレーニング名と作者と入力してください\n'
    }

    formatedTrainingObj = {
        training_name: trainingObj.training_name,
        author: trainingObj.author,
        id: trainingObj.id,
        menu: []
    }

    menus = trainingObj.menu;
    for (menu of menus) {

        ithMessage = ''
        work_out_name = menu.work_out_name
        
        if (!work_out_name) {
            ithMessage += 'i+1番目のトレーニング名が入力されていません\n'
        }
        if (isNaN(menu.length)) {
            ithMessage += 'i+1番目のlengthが数字ではありません\n'
        }
        if (isNaN(menu.times)) {
            ithMessage += 'i+1番目のtimesが数字ではありません\n'
        }
        if (isNaN(menu.sets)) {
            ithMessage += 'i+1番目のsetsが数字ではありません\n'
        }
        if (isNaN(menu.after_interval)) {
            ithMessage += 'i+1番目のafter intervalが数字ではありません\n'
        }
        if (!ithMessage) {
            length = Number(menu.length)
            times = Number(menu.times)
            sets = Number(menu.sets)
            after_interval = Number(menu.after_interval)

            formatedTrainingObj.menu.push({
                work_out_name: work_out_name,
                length: length,
                times: times,
                sets: sets,
                after_interval: after_interval
            })
        } else {
            message += ithMessage
        }
    }
    return {
        formated_training_obj: formatedTrainingObj,
        message: message,
    }
}
        



var app = new Vue({
    el: '#app',
    data: {
        hasError: false,
        loading: true,
        training: {
            id: null,
            training_name: null,
            author: null,
            menu: []
        }
    },
    methods: {
        addMenu: function() {
            this.training.menu.push({
                work_out_name: '',
                length: 0,
                times: 0,
                sets: 0,
                after_interval: 0,
            });
        },
        deleteMenu: function(i) {
            this.training.menu.splice(i, 1);
        },
        addTraining: function() {
            validationResult = trainingValidationCheck(this.training)
            if (validationResult.message) {
                alert(validationResult.message)
                return
            }
            axios.post('/work_out/new', validationResult.formated_training_obj)
                .then(function(response) {
                    alert('作成しました。')
                    window.location.href = '/';
                }.bind(this))
                .catch(function(error){
                    alert('エラーが発生しました。')
                    this.hasError = true;
                }.bind(this))
                .finally(function(){
                    this.loading = false;
                }.bind(this))
        }
    },
})
</script>
</html>
