
body {
	background-color: #DDF;
}

.title {
    text-align: center;
    margin-bottom: -1mm;
    
}

.title-wrapper {
    border-bottom: solid 5px #FFC778;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}


.trainings-table {
    width: 80%;
    margin: auto;
}
.trainings-table th {
	background: #99F;
    color: #FFF;
}
.trainings-table td {
	background: #eee;
    text-align: center;
}
.trainings-table tr:nth-child(odd) td {
	background: #fff;
}


.table-box {
    background-color: #FFF;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #2285;
    padding-top: 10px;
    padding-bottom: 30px;
}

.menu-box {
    background-color: #99F;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 3px 5px #2285;
    color: #FFF;
}

.delete-menu-button-box {
    text-align: center;
}

.menu-i-text {
    font-size: 20px;
    color: #FB7;
    /*
    text-shadow: 1px 1px 1px #FFF,
                 -1px 1px 1px #FFF,
                 1px -1px 1px #FFF,
                 -1px -1px 1px #FFF;
    */
}

.work_out_name {
    padding-bottom: 2px;
}


.edit-table {
    margin: auto;
}

.menus-wrapper {
    margin: auto;
    width: 300px;
    text-align: center;
}



.x-mark {
    display: inline-block;
    float: right;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.13s;
}
.x-mark span::before,
.x-mark span::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 16%;
    margin: -8% 0 0 -42%;
    background: #EEE;
}
.x-mark span::before {
  transform: rotate(-45deg);
}
.x-mark span::after {
  transform: rotate(45deg);
}

.add-menu-button {
    width: 50px;
    transition: 0.25s;
}
.add-menu-button:hover {
    opacity: 0.9;
    transform: translateY(-3px);
}

.button-box {
    margin-top: 10px;
    text-align: center;
}

.button {
  width: 180px;
  height: 60px;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #FDA;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  outline: none;
}
.button:hover {
    background-color: #FA0;
    box-shadow: 0px 15px 20px #FA08;
    color: #fff;
    transform: translateY(-3px);
}

.back-button {
  width: 180px;
  height: 60px;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  outline: none;
}

.back-button:hover {
    background-color: white;
    color: #000;
    box-shadow: 0px 10px 20px #FA08;
    transform: translateY(-3px);
}

.large-width-button {
    font-size: 15px;
    height: 40px;
    width: 350px;
}

.terminate-button {
    background-color: #F304;
}
.terminate-button:hover {
    background-color: #F33;
    box-shadow: 0px 10px 20px #F304;
}


.small-button {
    font-size: 15px;
    height: 40px;
    width: 90px;
}

.small-button:hover {
    box-shadow: 0px 5px 10px #FA08;
}

/* pc */
@media screen and (min-width:701px) {
    .x-mark:hover {
        background: #D77;
        border-radius: 2px;
    }
}

/* sp */
@media screen and (max-width:700px) {
    .table-box {
        width: 97%;
    }
    .small-button {
        font-size: 10px;
        height: 25px;
        width: 50px;
    }
}

